.work {
  padding: 7px;
  width: 340px;
  border: 1px solid;
  position: relative;
}

.btn {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}

button {
  padding: 3px;
}

.img {
  width: auto;
  height: 290px;
  background-color: aquamarine;
}
