.myskillsblock {
  background-color: rgb(241, 123, 123);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
  border: 1px solid;
  width: 100%;
}

.nameBlock {
  text-align: center;
  border: 1px solid;
  padding: 5px;
}
