@import "../src/styles/scss/variables.scss";

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #383838;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #383838;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6b6b6b;
}

.app {
  .toggleBars {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $borderColor;
    position: fixed;
    background-color: #10121b;
    z-index: 5;
    top: 20px;
    width: 50px;
    height: 50px;
    visibility: hidden;
    cursor: pointer;

    @media (max-width: 1199px) {
      visibility: visible;
    }
  }

  .main {
    min-height: 100vh;
    padding-left: 260px;

    @media only screen and (max-width: 1199px) {
      padding-left: 0;
    }
  }
}

.toggleXmark {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $borderColor;
  position: fixed;
  z-index: 5;
  top: 20px;
  background-color: #10121b;
  left: 259px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  visibility: visible;

  @media (max-width: 991px) {
    left: 249px;
  }

  @media (min-width: 1200px) {
    visibility: hidden;
  }
}